<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>Clinica</title>
</head>
<body>

<!-- NAVBAR -->
	<header th:fragment="navbar">
      <nav>
            
            <div class="container">
                <a href="index.html" id="logo"><img src=""></a>
                <ul>
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="chisono.html">Chi siamo</a></li>
                    <li class="nav-item"><a href="lavoro.html">Login</a></li>
                    <li class="nav-item"><a href="contatti.html">Contatti</a></li>
                </ul>
            </div>
       
        </nav>
	</header>

	
	
	
</body>
</html>