<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title='Progetto CLinica')"> </head>

<body id="top">

<header th:if="${role}=='ADMIN'" th:replace="fragments/baseadmin.html :: intestazione"></header>
	
	
 <!-- Gallery Photo ################################################################################### -->  

 <section class="group">
	<div class="bgded overlay" style="background-image:url('images/backgrounds/01.png');">
  	<figure class="hoc container clear imgroup"> 
    <!-- ################################################################################################ -->
    <figcaption class="sectiontitle">
      <p class="nospace font-xs">Benvenuto <a sec:authentication="name"></a></p>
      <p th:text="${role}"> . </p>
      </figcaption>
        
    <ul class="nospace group">
      <li class="one_third"><a class="imgover" th:href="@{/exam}"><img src="images/pic1.png" alt="">Esami</a></li>
      <li class="one_third"><a class="imgover" th:href="@{/patient}"><img src="images/pic2.png" alt=""></a>Pazienti</li>
      <li class="one_third"><a class="imgover" th:href="@{/doctor}"><img src="images/pic3.png" alt=""></a>Dottori</li>
      <li class="one_third"><a class="imgover" th:href="@{/typeOfExamination}"><img src="images/pic4.png" alt=""></a>Tipologie</li>
     <li class="one_third"><a class="imgover" th:href="@{/chisiamo}"><img src="images/pic5.png" alt=""></a>Chi Siamo</li>
      <li class="one_third"><a class="imgover" th:href="@{/contattaci}"><img src="images/pic6.png" alt=""></a>Contattaci</li>
    </ul>
    <!-- ################################################################################################ -->
  </figure>
  <!-- ############################################################################################### -->
  	</div>
  </section>
 
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>